@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.section-header{
  font-family: 'Sigmar One', cursive;
}

.discord-img {
  height: 80%;
  width: 80%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.500);
}

.join-discord:hover{
  border: 2px solid orange;
  color: orange;
}

@media (max-width: 576px) {
  .discord-img {
    height: 250px;
    width: 300px;
  }

  .section-header h3{
    font-size: 1.2rem;
    margin-top: 5px;
  }
}

@media (min-width:1200px){
  .discord-img{
    height: 350px;
    width: 400px;
  }
}
